.newsletter
{
  text-align: center;
  padding:20px 40px;
}

.newsletter div
{
  padding:10px 0px;
}
.newsletter input
{
  width:80%;
  padding:8px 0px;
  border-radius: 4px;
  border:1px solid black;
}